<mat-toolbar class="felx stikky z-2 top-0 items-center justify-between">
  <div class="logo h-4 w-4 rounded-full bg-red-500"></div>
  <div class="flex items-center space-x-4">
    <a class="hidden cursor-pointer tracking-wide hover:text-red-200 md:block" routerLink="/dashboard">Dashboard</a>
    <a class="hidden cursor-pointer tracking-wide hover:text-red-200 md:block" routerLink="/schedule">Schedule</a>
    <a class="hidden cursor-pointer tracking-wide hover:text-red-200 md:block" routerLink="/my-bookings">My bookings</a>
    <a class="hidden cursor-pointer tracking-wide hover:text-red-200 md:block" routerLink="/admin">Admin</a>
    <!-- <nav profile></nav> -->
    <div class="flex space-x-4 pl-6">
      <div class="hidden h-8 w-8 rounded-full bg-red-600 md:flex"></div>
      <div class="hidden lg:block">Comsa Enoh</div>
    </div>
  </div>
  <button class="hamburger z-30 block focus:outline-none md:hidden" (click)="opened = !opened">
    <span [ngClass]="{ open: opened }" class="hamburger-top bg-black"></span>
    <span [ngClass]="{ open: opened }" class="hamburger-middle bg-black"></span>
    <span [ngClass]="{ open: opened }" class="hamburger-bottom bg-black"></span>
  </button>
  <div
    class="tracking-wideest fixed inset-0 z-20 flex min-h-screen w-full flex-col self-end bg-slate-200 px-4 pb-4 pt-24 opacity-95"
    [ngClass]="{ hidden: !opened }"
  >
    <div class="w-full space-y-6 text-center">
      <a class="block cursor-pointer hover:text-red-200 md:block" (click)="opened = false" routerLink="/dashboard">Dashboard</a>
      <a class="block cursor-pointer hover:text-red-200 md:block" (click)="opened = false" routerLink="/schedule">Schedule</a>
      <a class="block cursor-pointer hover:text-red-200 md:block" (click)="opened = false" routerLink="/my-bookings"
        >My bookings</a
      >
      <mat-divider></mat-divider>
      <a class="block cursor-pointer hover:text-red-200 md:block" (click)="opened = false" routerLink="/admin">Admin</a>
    </div>
  </div>
</mat-toolbar>

<main class="h-[calc(100%-64px)]">
  <router-outlet></router-outlet>
</main>
