<div class="min-h-screen flex items-center justify-center">
  <form [formGroup]="authForm" class="flex flex-col w-1/4 bg-slate-100 p-4 space-y-4 rounded-lg">
    <mat-form-field class="mt-4">
      <mat-label>Email</mat-label>
      <input matInput formArrayName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary">
      {{ isLoginMode ? 'Log In' : 'Sign Up' }}
    </button>
    <button mat-flat-button type="button" (click)="onSwitchMode()">Switch to Login</button>
  </form>
</div>
