<div class="min-h-screen flex items-center justify-center">
  <form
    [formGroup]="authForm"
    (ngSubmit)="onSubmit(authFormDirective)"
    #authFormDirective="ngForm"
    class="flex flex-col w-1/4 border-2 p-4 space-y-4 rounded-lg"
  >
    <mat-form-field class="mt-4">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field class="mt-4">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="familyName" />
    </mat-form-field>

    <mat-form-field class="mt-4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="!authForm.valid">
      {{ isLoginMode ? 'Log In' : 'Sign Up' }}
    </button>
    <button mat-flat-button type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Signup' : 'Login' }}</button>
  </form>
</div>
