@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use './free-spot-m3-theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();
/* You can add global styles to this file, and also import other style files */

html {
  scrollbar-gutter: stable;
}

body {
  @include mat.all-component-themes(free-spot-m3-theme.$dark-theme);
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

//hamburger style
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 4px;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0);
}

.open.hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open.hamburger-middle {
  display: none;
}
.open.hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
