<div class="flex min-h-screen items-center justify-center">
  <mat-card appearance="outlined" class="w-1/4 p-4">
    <form
      [formGroup]="authForm"
      (ngSubmit)="onSubmit(authFormDirective)"
      #authFormDirective="ngForm"
      class="flex flex-col space-y-4"
    >
      @if (!isLoginMode) {
        <mat-form-field class="mt-4">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>

        <mat-form-field class="mt-4">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="familyName" />
        </mat-form-field>
      }
      <mat-form-field class="mt-4">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <button mat-stroked-button type="submit" [disabled]="!authForm.valid">
        {{ isLoginMode ? 'Log In' : 'Sign Up' }}
      </button>
      <button mat-flat-button type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Signup' : 'Login' }}</button>
    </form>
  </mat-card>
</div>
