.background-image-white {
  background-image: url(../../../public/images/white_background.png);
}
.background-image-black {
  background-image: url(../../../public/images/black_background.png);
}

.form-black {
  background-image: url(../../../public/images/form_night.png);
}

.form-white {
  background-image: url(../../../public/images/form_day.png);
}
